@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FFFFFF;
  margin: 0;
  padding: 0;
}

html {
  background: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}